/* Reset basique */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Container principal */
.container {
  width: 90%;
  max-width: 1000px;
  height: 90vh;
  margin: 40px auto;
  background: #f4f9fb;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20vw;
}

/* Titre */
h1 {
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Bouton Ajouter */
.btn.add {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.btn.add:hover {
  background-color: #004d40;
}

/* Table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.product-table th,
.product-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #eaf6f8;
  color: #2c3e50;
}

/* Boutons CRUD */
.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

.btn.edit {
  background-color: #f39c12;
  color: white;
}

.btn.edit:hover {
  background-color: #d68910;
}

.btn.delete {
  background-color: #c0392b;
  color: white;
}

.btn.delete:hover {
  background-color: #922b21;
}
